* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.viewData {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 5vh;
}

.rowData {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: normal;
}

.dataField {
  /* border: solid blue 2px; */
}

.showLineRight {
  border-right: dotted blue 3px;
}

.showLineBotton {
  border-bottom: dotted blue 3px;
}

.dataField h2 {
  color: black;
  text-align: center;
  font-size: 25px;
}

/* View Flags */

.viewFlags {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: normal;
  margin-bottom: 50px;
}

.flag {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* View Names */

.viewNames {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: normal;
  margin-bottom: 30px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.name h1 {
  font-size: 40px;
}
